*{box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --light: #ffffff;
    --dark: #1A202C;
    --bg-card:#DEE5ED;
    
    --soft-blue:#486284;
    --btn-color:#306BB3;
    
    --black-russian: #FFFFFF;
    --soft-blue:#FFFFFF;

    --btn-bg-secund:#306BB3;
       
 }

 body{
    background: var(--light);
    --btn-bg: #FFFFFF;
    --btn-fontcolor:#306BB3;
    --font-color: #1A202C;
    --font-colorsecund:#486284;
    --font-color-hover:#1A202C;
}

body.dark{
   background: var(--dark);
   --btn-bg: #1A202C;
   --btnLinks-bg:#FFFFFF;
   --btn-fontcolor:#FFFFFF;
   --font-color: #FFFFFF;
   --font-colorsecund:#FFFFFF;
   --font-color-hover:#FFFFFF;
}

header {
    justify-content: space-between;
    background-color: #306bb3;
    height: 72px;
    display: flex;
    align-items: center;
    padding: 0 12px;
}

header>div{
    display: flex;
    justify-content: space-between;
    width: 32%;
    align-items: center;
}

header>img {
    width: 50%;
    max-width: 150px;
}

.btnPrincipal {
  border: none;
  min-width: 82px;
  min-height: 38px;
  border-radius: 4px;
  background-color: var(--btn-bg);
  color: var(--btn-fontcolor);
  cursor: pointer;
}
.hidden{
    display: none;
}

.listMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0 36px;
    align-items: center;
}

.listOpciones{
    color: white;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
}

.ul{
    display: flex;
    gap: 30px;
}

main{
    margin-top: 80px;
    margin-right: 5px;
 }

main>p{
    size: 18;
    text-align: center;
    color: var(--font-color);
    margin-block: 15px;
}

main>div{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    width: 734px;
    margin-left: 970px;
}

.info {
  text-align: center;
  align-content: center;
  width: 100%;
}

.info h1{
  font-size: 48px;
  color: var(--font-colorsecund);
  padding-bottom: 2%;
 }

.info p{
 font-size: 18px;
 width: 25%;
 margin-left: 37%;
 padding-bottom: 2%;
 color: var(--font-color);
 }

 a {
    color: var(--font-colorsecund);
}

#totalCards{
    color: var(--font-colorsecund);
    font-size: 20px;
}
 
.container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 80%;
    margin-left: 12%;
    margin-bottom: 2%;
}

.container >div>img{
    height: 280px;
    width: 250px;
    align-items: center;
    margin-left: 25px;
    margin-top: 25px;
}

.name{
    padding-inline-end: 20px;
    padding-top: 15px;
    font-weight:bold;
}

section>div>div{
    width: 304px;
    height: 410px;
    border-radius: 10px;
    margin: 5px;
}

section>div>div>div{
    display: flex;
    flex-direction: row;
    margin: 2px;
    font-weight: bold;
    padding-left: 10px;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: baseline;
    justify-content: space-around;
}

.bgImg{
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 10px;
    padding: 20px;
}

.card{
    background: var(--bg-card);
    transition: background 1s linear;
}

.card:hover{
    background:#F8D030;
} 

.moreCards {
    text-align: center;
    width: 156px;
    height: 44px;
    background: var(--btn-bg-secund);
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }

  .loadMore{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 31%;
  }

  .btnBuy {
    height: 44px;
    width: 116px;
    border-radius: 4px;
    background: #306BB3;
    color: #FFFFFF;
  }

  .nav {
    display: flex;
    justify-content: space-around;
    width: 76%;
    margin-left: 12%;
    font-size: 22px;
    margin-bottom: 2%;
  }

  .navType {
    color: var(--font-colorsecund);
    margin: 2% 0;
    width: 100%;
    padding-bottom: 1%;
    margin-bottom: 1%;
    border-bottom: 2px solid #424242 ;
    text-align: center;
  }

.navType:hover {
  color: var(--font-color-hover);
  font-weight: bold;
  border-bottom: 4px solid #1A202C;
}

.active {
    color:#1A202C;
  font-weight: bold;
  border-bottom: 4px solid #1A202C;
  }

footer {
    display: flex;
    flex-direction: row;
    background-color: #306bb3;
    height: 380px;
 }

.footerContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 4%;
}

.footerContainer>img {
    width: 200px;
    height: 70px;
}

.footerContainer>p {
    width: 70%;
    padding-top: 10%;
    color: white;

}

.footerContainer>div {
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding-top: 15%;
}

.footerContainer>div>img {
    background-color: white;
    width: 33.6px;
    height: 33.6px;
    border-radius: 50%;
}

.ref {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    padding: 4%;
    margin: 0 5% 0 0;
}

.About {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 15%;
    font-size: 20px;

}

.Community {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 15%;
    font-size: 20px;

}

.Socials {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 15%;
    font-size: 20px;

}

.Community>a,
.About>a,
.Socials>a {
    color: white;
    opacity: 70%;
    text-decoration: none;
}
