*{box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

header {
    justify-content: space-between;
    background-color: #306bb3;
    height: 72px;
    display: flex;
    align-items: center;
    padding: 0 12px;
}

header>div{
    display: flex;
    justify-content: space-between;
    width: 32%;
    align-items: center;
}

header > img {
    width: 50%;
    max-width: 150px;
}

.listMenu{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    gap: 0 36px;
    align-items: center;
}

.listOpciones{
    color: white;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
}

.ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

main{
    margin-top: 80px;
    --margin-left: 5px;
    margin-right: 5px;
    
}

main>p{
    size: 18;
    text-align: center;
    color: #1A202C;
    margin-block: 15px;

}
main>div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
}

.container{
    display: grid;
    grid-template-columns: 230px 230px 230px 230px;
    --margin: 15px;
    justify-content:center;
    column-gap: 110px;
}
.container >div>img{
    height: 280px;
    width: 250px;
    align-items: center;
    margin-left: 25px;
    margin-top: 25px;
}

.name{
    padding-left: 10px;
    padding-inline-end: 20px;
    padding-top: 15px;
    font-weight:bold;
}

section>div>div>div{
    width: 304px;
    height: 410px;
    background-color: #DEE5ED;
    border-radius: 10px;
    margin: 10px;
}

section>div>div>div>div{
    display: flex;
    flex-direction: row;
    margin: 2px;
    font-weight: bold;
    padding-left: 10px;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: baseline;
    justify-content: space-around;
}

.fondoImagen{
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 10px;
    padding: 20px;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: #306bb3;
    height: 380PX;
    
}

.footerContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 4%;
}

.footerContainer>img {
    width: 200px;
    height: 70px;
}

.footerContainer>p {
    width: 70%;
    padding-top: 10%;
    color: white;

}

.footerContainer>div {
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding-top: 15%;
}

.footerContainer>div>img {
    background-color: white;
    width: 33.6px;
    height: 33.6px;
    border-radius: 50%;
}

.ref {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    padding: 4%;
    margin: 0 5% 0 0;
}

.About {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 15%;
    font-size: 20px;

}

.Community {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 15%;
    font-size: 20px;

}

.Socials {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 15%;
    font-size: 20px;

}

.Community>a,
.About>a,
.Socials>a {
    color: white;
    opacity: 70%;
    text-decoration: none;
}

